@import '~theme/variables.scss';

$border-color-open: $azure;

$arrow-color: $coolGrey;
$arrow-color-hover: $darkGrey;
$arrow-color-open: $darkGrey;

@import '~@buildo/bento/components/dropdown.scss';
